:root {
    --bg: linear-gradient(to bottom right, rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
    --bg-accent: rgba(66, 65, 65, 0.144);
    --text-color: rgba(255, 255, 255, 0.767);
    --nav-size: 60px;
    --border: 1px solid rgb(41, 28, 28);
    --border-radius: 8px;
    --speed: 500ms;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  p {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .navbar {
    height: var(--nav-size);
    background-image: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
  }
  
  .navbar-nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* icon button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 300ms;
  }

  .Link {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-button:hover {
   filter: brightness(1.2);
  }
  
  .icon-button svg {
    fill: var(--text-color);
    height: 20px;
    width: 20px;
  }
  
  /* DropDown */
  .drop-down {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-image: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  .menu-item:hover {
    background-image: linear-gradient(to bottom right, rgb(255, 123, 123), rgb(247, 247, 136));
  }
  .icon-right {
    margin-left: auto;
  }

.menu-primary-enter {
position: absolute;
transform: translateX(-110%);
  }
  .menu-primary-enter-active {
transform: translateX(0%);
transition: all var(--speed) ease;
  }
  .menu-primary-exit {
position: absolute;
  }
  .menu-primary-exit-active {
position: absolute;
transform: translateX(-110%);
  }
.menu-secondary-enter {
    transform: translateX(110%);
      }
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
      }
.menu-secondary-exit {
    color: black;
      }
.menu-secondary-exit-active {
  transform: translateX(110%);
    transition: all var(--speed) ease;
      }

  /* For scroll */    
  ::-webkit-scrollbar{
    width: 25px;
  }
  ::-webkit-scrollbar-track{
    border: 7px solid black;
   box-shadow: rgb(241, 0, 0);
   
  }
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom right, rgba(250, 8, 8, 0.801), rgb(180, 180, 16));
    border-radius: 8px;
  }
  
      
   